@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-font-family: kings-caslon-display, serif;;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: "Avenir Next", sans-serif;
}

body {
  margin: 1rem;
}

@media (max-width: 640px) {
  body {
    margin: 0.8rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.title {
  font-family: var(--title-font-family);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.primaryTitle {
  font-size: 4rem;
  color: white;
}

.secondaryColor {
  color: #bab0b0;
}

.secondaryTitle {
  font-size: 2.5rem;
}

.paragraph {
  font-weight: 200;
}